#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  box-sizing: border-box;
  display: block;
  width: 500px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

option {
  padding: 4px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: tomato;
  font-size: 12px;
  text-align: left;
}

.form-control {
  margin-bottom: 20px;
}

.containerButtons {
  width: 100%;
  max-width: 500px;
}
