#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error {
  color: tomato;
  font-size: 12px;
  text-align: left;
}

.inputText {
  width: 100%;
}
